/*********************重置样式**************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font,
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,textarea,table, caption, tbody,
tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
}
i{font-style:normal;}
body {line-height: 1;height:100%; overflow: hidden;font-family:'΢���ź�';}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
a{ color: #333; text-decoration: none;}
/* remember to define focus styles! */
:focus {outline: 0;}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {	text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}

pre{
	white-space: pre-wrap;
    word-wrap: break-word;
	font-size: 14px;
	line-height: 1.3
}

/************************end**************************/
/************边距**************/

.dashed-bottom {
	margin-bottom: 30px;
}


/************end**************/


/************盒子**************/

.wrap {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.wrap-box {
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
}
.js-inmobile .wrap {
	height: 100%;
	position: absolute;
}

.js-inmobile .wrap-con {
	top: 0;
	left: 0;
	padding-top: 7.5em;
}
.wrap-con {
	position: absolute;
	right: 0;
	height: 100%;
	background: #eaeaea;
	left: 300px;
	width: auto;
	overflow: auto;
	padding: 1em;
	box-sizing: border-box;
}

.wrap-box {
	min-height: 100%;
	color: #333;
	position: relative;
}

/************end**************/


/************头部**************/

.header {
	background: #fff;
	width: 300px;
	position: fixed;
	opacity: 1;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	height: 100%;
	z-index: 999;
}

.header-top {
	background: #4d4d4d;
	height: 8em;
	position: relative;
}

.header-top-img {
	width: 30%;
	background: #fff;
	overflow: hidden;
	border: 5px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header-top-img img {
	width: 100%;
	display: block;
}

.header-con {
	background: #fff;
	width: 100%;
	padding-top: 5em;
}
.js-inmobile .header-con{
	box-shadow: 0 1px 0 0 #ddd;
}
.header-con-name {
	text-align: center;
	font-size: 2em;
	color: #333;
	line-height: 2em;
}

.header-con-text {
	text-align: center;
	font-size: 0.8em;
	color: #999;
	line-height: 2em;
}

.header-con-nav {
	text-align: center;
	margin-top: 2em;
}

.header-con-nav a {
	color: #333;
	font-size: 0.6em;
	padding: 0 0.32em;
	position: relative;
}
.header-con-nav a::after {
	content:'';
    display:block;
    /*开始时候下划线的宽度为100%*/
    width:100%;
    height:1px;
    position:absolute;
    bottom:-1px;
    left: 0;
    right: 0;
    background:#08c;
    transition:all 0.3s ease-in-out;
    /*通过transform的缩放scale来让初始时x轴为0*/
    transform: scale3d(0,1,1);
    /*将坐标原点移到元素的中间，以原点为中心进行缩放*/
    transform-origin:50% 0;
}
.header-con-nav a:hover::after {
 	transform:scale3d(1,1,1);
}
.header-con-nav .router-link-active::after {
 	transform:scale3d(1,1,1);
}
.js-inmobile body {
	background: #eaeaea;
}

.js-inmobile .header {
	background: #eaeaea;
	width: 100%;
	position: absolute;
	opacity: 1;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	top: 0;
	z-index: 999;
	height: auto;
	box-sizing: border-box;
}



.js-inmobile .header-top {
	height: 0;
	position: relative;
}

.js-inmobile .header-top-img {
	width: 50px;
	background: #fff;
	overflow: hidden;
	border: 5px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 100%;
	left: 10px;
	transform: translate(0, 0);
}

.js-inmobile .header-top-img img {
	width: 100%;
	display: block;
}

.js-inmobile .header-con {
	padding-left: 80px;
	background: #fff;
	width: 100%;
	padding-top: 0;
	box-sizing: border-box;
}

.js-inmobile .header-con-name {
	text-align: left;
	font-size: 16px;
	color: #333;
	line-height: 30px;
}

.js-inmobile .header-con-text {
	text-align: left;
	font-size: 12px;
	color: #999;
	line-height: 30px;
}

.js-inmobile .header-con-nav {
	margin-top: 0;
}

.js-inmobile .header-con-nav ul {
	text-align: left;
	line-height: 2em;
}

.js-inmobile .header-con-nav a {
	color: #333;
	font-size: 0.6em;
	padding: 0 0.32em;
}

.js-inmobile .header-con-nav a:hover {
	color: #696969;
	border-bottom: 1px solid #08c;
}

.js-inmobile .issues-content__title {
	font-size: 18px
}

.js-inmobile .issues-content__time {
	font-size: 16px;
}

.js-inmobile .issues-content__con {
	margin: 20px 0;
	padding: 0 20px;
}

.js-inmobile .issues-content__hid {
	overflow: hidden;
}

.article-content-page {
	background: #fff;
}


/************end**************/


/************盒子**************/

.issues-content__con {
	min-height: 100px;
	padding: 0 50px;
	margin-top: 50px;
}

.issues-content__hid {
	height: 300px;
	overflow: hidden;
}

.issues-content__con p {
	line-height: 1.3;
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
}

.issues-content__con p a {
	color: #33B3ED;
    word-wrap: break-word;
}

.issues-content__title {
	text-align: center;
	font-size: 32px;
	line-height: 60px;
}

.issues-content__time {
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}

.article-list__read {
	border: 1px solid #ffa902;
	padding: 2px;
	display: block;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	color: #ffa902;
}

.article-list__read:hover {
	background: #ffa902;
	color: #fff;
}

.article-list__no-more {
	text-align: center;
	font-size: 24px;
	color: #0088CC;
	line-height: 36px;
}

article .article-label {
	display: inline-block;
	line-height: 30px;
	width: 60px;
	text-align: center;
	margin-right: 0.5em;
	color: #fff;
	background-color: #ccc;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

article .article-label:hover {
	color: #fff;
}

article .label-84b6eb {
	background-color: #00a0e9;
}

article .label-84b6eb:hover {
	background-color: #33b3ed;
}

article .label-128A0C:active {
	background-color: #0098dd;
}

article .label-128A0C {
	background-color: #60be29;
}

article .label-60be29:hover {
	background-color: #80cb54;
}

article .label-60be29:active {
	background-color: #5bb527;
}


/************end**************/


/************盒子**************/

.issues-comments {
	text-align: center;
}

.issues-comments p {
	line-height: 30px;
}

.center-prompt-message {}


/************end**************/
.article-list-page ul{
	background: #fff;
	overflow: hidden;
	margin-bottom: 1em;
}
.article-list-page ul li:last-child{
	margin-bottom: 0;
}
.article-list__item {
	position: relative;
	list-style: none;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
}
.article-list__item .article-list__read {
	margin-top: 10px;
	display: inline-block;
	position: relative;
	left: 50%;
	border: 1px solid #0097da;
	color: #0097da;
	transform: translateX(-50%);
}

.article-list__item .article-list__read:hover {
	color: #fff;
	background-color: #33ace1;
}

.js-inmobile .article-list__item .article-list__read:hover {
	color: #0097da;
	background-color: transparent;
}

.article-list__item .article-list__read:active {
	background-color: #008fcf;
}

.article-list__more-wrap {
	line-height: 9em;
	padding: 3em;
	border-radius: 2em;
	font-size: 14px;
	text-align: center;
	background: #fff;
}

.js-inmobile[data-dpr='2'] .article-list__more-wrap {
	font-size: 28px;
}

.js-inmobile[data-dpr='3'] .article-list__more-wrap {
	font-size: 36px;
}

.article-list__more-wrap p {
	margin: 0;
}

.article-list__more {
	border: 1px solid #f60;
	color: #f60;
	background-color: transparent;
	cursor: pointer;
}

.article-list__more:hover {
	color: #fff;
	background-color: #ff8533;
}

.js-inmobile .article-list__more:hover {
	color: #f60;
	background-color: transparent;
}

.article-list__more:active {
	background-color: #f26100;
}
.js-inmobile .article-list__more-wrap{
	line-height: 9em;
	padding: 0.5em;
	border-radius: 15px;
}
.js-inmobile .article-list__no-more{
	font-size: 18px;
}
/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/

/*background color*/
pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1d1f21;
}

/*selection color*/
pre::selection,
pre span::selection {
  background: #373b41;
}

pre::-moz-selection,
pre span::-moz-selection {
  background: #373b41;
}

/*foreground color*/
pre {
  color: #c5c8c6;
}

/*color: fg_yellow*/
.hljs-title,
.hljs-name {
  color: #f0c674;
}

/*color: fg_comment*/
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #707880;
}

/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
 color: #cc6666
}

/*color: fg_green*/
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #b5bd68;
}

/*color: fg_purple*/
.hljs-attribute,
.hljs-code,
.hljs-selector-id {
 color: #b294bb;
}

/*color: fg_blue*/
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
 color: #81a2be;
}

/*color: fg_aqua*/
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #8abeb7;
}

/*color: fg_orange*/
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #de935f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
